@tailwind base;
@tailwind components;
@tailwind utilities;

/* Print Styles */
@media print {
  body {
    margin: 0 !important;
    padding: 0 !important;
  }

  body * {
    visibility: hidden;
  }

  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    height: 5.8in !important;
    width: 3.6in !important;
    overflow: hidden;
    visibility: visible;
    
  }

  #print-area * {
    visibility: visible;
  }
}

/* Force paper size */
@page {
  size: 3.6in 5.8in !important;
  margin: 0 !important;
}
